.cols-12.p-bottom
  = link_to "Add a new Grocery", new_groceries_path, class: "btn-solid btn-big btn-accent"  
.cols-12
  .cols-9
    = render @groceries
  .cols-3
    #grocery_list
      = render "grocery_list"

