.l-section, .l-header{ 
  @include outer-container;
  @include pad($base-section-padding);
  text-align:center;
}

.l-full-section{
  display:block;
}
.l-header-bg{ 
    background-size:cover;
    background-repeat:none;
    background-position:center;
    max-width:100%;
}

//
// Navigation
//

nav{
  @include row;
  @include fill-parent;
  position:relative;
  ul{
    display:block;
    list-style-type: none;
    text-align:center;
  }
  li{
    padding:0 1em;
    display:inline;
  }
  li a{font-weight:800;text-transform: uppercase}
}


.l-border{
  border-radius:3px;
  border:1px solid;
  border-color:#e5e6e9 #dfe0e4 #d0d1d5;
}

.l-border-bottom{
  border-bottom:1px solid;
  border-color:#e5e6e9 #dfe0e4 #d0d1d5;
}


.l-social-icons{
  ul{
   text-align:center;
   margin:0;
  }
  li{
   display:inline;
   font-size:2em;
   padding-right:10px;
  }
  li:last-child{
   padding-right:0;
  }

}

#notice{
  background: $accent;
  color:white;
  padding:25px;
  font-size:1em;
}

.error{
  font-size:1em;
  color:$accent;
}

.icon{font-size:5em;color:$accent;}
.share{font-size:3em;padding-right:1em;padding-top:1em;}
.copyright{color:$accent;text-align:center;}


ul{padding:0}

.inline-button-group > * {display:inline}
